@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}
body {
    min-height: 100vh;
    width: 100%;
}

.nav-bar{
    grid-area: nav;
    
    display: grid;
    grid-template-areas: 
    ". . ." 
    "hamburger navlogo login"
    ". ul .";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:  auto auto auto;
    justify-content: center; /* Alinea el contenido horizontalmente en el centro */
    align-items: center; /* Alinea el contenido verticalmente en el centro */
  
    top: 0;
    padding: 0.3rem 0.1rem;
    position: relative;
    z-index: 1000;
    width: 100%;

    overflow: clip;
    overflow-clip-margin: content-box;

    background-color: whitesmoke;
}
/*? LISTA DESPLEGABLE debajo del logo */
.lista-desplegable{ /* esto es mi lista debajo del logo*/
    grid-area: ul;
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start; 
    padding: 0 20px;
    margin: auto;
}
.lista-desplegable ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start; 
    padding: 0 20px;
}
.lista-desplegable ul li{
    margin-right: 1rem;
    margin-left: 1rem;
}
.lista-desplegable ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    transition: all 0.3s ease;
    position: relative;
}
.lista-desplegable ul li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px; /*línea mas hacia arriba o abajo */
    height: 1.4px; /* la línea más gruesa */
    width: 100%;
    background-color: gold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*difuminado línea */
}
    /*? LOGO */
.logo-container {
    grid-area: navlogo;
    font-size: 1.5rem;
    display: flex;
    justify-self: center;
    align-self: center;
    display: inline-block;
}
.navlogo img{
    background-color:transparent;
    padding: 5px;
}
.navlogo img:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 1px rgb(0, 0, 0, 0.5)); /* Agrega una sombra */
    transition: transform 0.4s ease, filter 0.6s ease;
}

/* index tiene un nav especial */
/* este es el nav para el resto de paginas no-index*/
/* nav.nav2{
    position: static;
} */

    /*? MENU HAMBURGESA Y LISTA*/
#hamburger-menu {
    grid-area: hamburger;

    position: static;
    display: static; /* Oculta el menú hamburguesa por defecto */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
#hamburger-menu ul{ 
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start; 
    padding: 0 20px;
}
#hamburger-menu .hamburger-list{ 
    /* es el contenedor de las listas*/
    position: fixed;
    background-color:none;
    display: none;
    /* display: flex; puedo ponerle flex para que se muestre siempre y none para que no aparezca*/
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: fit-content;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1rem);
    transition: transform 0.5s ease;
    z-index: 1000;
}
#hamburger-menu .hamburger-list.open{
    display: flex; /* El menú se muestra cuando tiene la clase 'open' */
    background-color: whitesmoke;
}
/*?LISTA DENTRO DEL HAMBURGESA  */
#hamburger-menu .hamburger-list ul{
    position: relative;
    background-color: none;
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction:column;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    margin-top: 0;
}
#hamburger-menu .hamburger-list li{
    position: relative;
    background-color:none;
    height: 3rem; /* Ajusta la altura de cada elemento de la lista */
    list-style: none;
    padding: 1rem; 
    width:fit-content;
}
#hamburger-menu .hamburger-list li a{
    text-decoration: none;
    list-style: none;
    color: black;
}
#hamburger-menu .hamburger-list li a:hover{
    color: goldenrod;
}
    /*? BOTON DE MENU SOBRE eL nav-bar*/
#hamburger-button {
    background-color: transparent; /* Elimina el color de fondo */
    border: none;
    color:#000;
    font-size: 1rem;
    padding: 1em 1em;
    font-weight: 500;
    transition: color 0.5s ease;
    cursor: pointer;
}
#hamburger-button a{
    height: 100%;
    width: 100%;
    font-size: 1rem;
    padding: 0 2rem;
    text-decoration: none;
    color: gray;
}
#hamburger-button a:hover{
    color: #000;
    background-color: #f5f5f5;
}
#hamburger-button:hover{
    color: goldenrod;
}

    /*? OVERLAY OSCURECE lo que no es el menu abierto*/
#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#hamburger-menu.open ~ #overlay {
    display: block; /* Mostrar cuando el menú hamburguesa está abierto */
}

    /*? BOTON CERRAR MENU*/
#close-button {
    position: absolute;
    top: -10px;
    left: -40px;
    background: none;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    /* z-index: 1000; */
}
    /*? LOGIN */
.login {
    grid-area: login;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    width: auto;
    padding: 1rem ; /* Añade un poco de espacio alrededor del texto */
}
#login-button {
    background-color: transparent; /* Elimina el color de fondo */
    position:static;
    border: none; /* Elimina el borde */
    font-size: 1.5rem; /* Ajusta el tamaño del texto */
    color: #000; /* Ajusta el color del texto */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima*/
    border-radius: 50%; /* Hace que el botón sea redondo */
    
}
#login-button a:hover {
    color: goldenrod; /* Cambia el color del texto cuando se pasa por encima */
    transition: color 0.5s ease;
}
#login-button a{
    width: auto;
    font-size: 1rem;
    padding: 0 0rem;
    text-decoration: none;
    color: black; /** es el color del font*/
}

.texto-inicio {
    position: absolute;
    font-family: Louis, Tahoma, NotoSansKR, NanumGothic, sans-serif;
    color: #fff;
    top: 20%;
    text-align: center;
    z-index: 2;
}

.texto-inicio h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 900;
    letter-spacing: .3rem;
    color: #fff;
    padding-top: 0.3rem;
    margin-bottom: 0;
}

.texto-inicio h2 {
    font-size: 1.4rem;
    line-height: 1.333rem;
    margin-bottom: 0rem;
    padding-top: 0rem;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: .15rem;
    margin: 0;
    padding: 0;
    color: #fff;
}

.texto-inicio p {
    font-size: 1.4rem;
    line-height: 1.333rem;
    margin-bottom: 0rem;
    padding-top: 1rem;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: .15rem;
    margin: 0;
}

.imagen-inicio {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-inicio  img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 1;
}

/*? SECCIÓN DE NOTICIAS */
.noticias-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.noticias-contenido {
    position: relative;
    width: 100%;
    height:500px;
    overflow:auto;
    white-space: normal;
    scroll-snap-type: x mandatory;
}
.noticias-contenido h2 {
    font-size: 2rem;
    font-weight: 600;
    color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: darkgray;
}
.noticias-contenido p {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:darkgrey;
    padding-bottom: 5rem;
}
.noticia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    white-space:normal;

    display: flex;
    flex-direction: row;
    scroll-snap-align: start;
}
.noticia img {
    grid-column: 1;

    width: 50%;
    height:auto;
    object-fit:cover;
}
.noticia .texto {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    height: 100%;
    background-color: darkgrey;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}
.noticia .texto h2, .noticia .texto p {
    overflow: hidden;
    white-space: normal;
    width: 100%;
    text-align: left;
    line-height: 1.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.noticia .texto h2 {
    grid-row: 1;
    justify-self: center;
    align-self: center;
}
.noticia .texto p {
    grid-row: 2;
    text-overflow: ellipsis;
    margin-bottom: 1rem; /*espacio entre los párrafos*/
    max-height: 3.6rem;
}
.noticia .texto button {
    grid-row: 3;
    padding: 1rem 2rem;
}
.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white; /* Cambia esto si las flechas no son visibles contra el fondo */
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem; /* Aumenta el tamaño de las flechas */
    z-index: 2; /* Asegura que las flechas estén por encima de otros elementos */
}
.flecha-izquierda {
    left: 1%; /* Asegura que la flecha no esté fuera de la pantalla */
}
.flecha-derecha {
    right: 1%; /* Asegura que la flecha no esté fuera de la pantalla */
}

/*? BOTON DE OFERTAS  */
.ofertas {
    display: grid;
    grid-template-areas: ". boton .";
    grid-template-columns: auto 1fr auto ;
    grid-template-rows: auto;
    padding-top: 2rem;
    padding-bottom: 5rem;
}
#miratodaslasofertas {
    display: grid;
    grid-area: boton;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    transition: all 0.3s ease;
}
#miratodaslasofertas a {
    display: inline-block; 
    color: black;
    padding: 1rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
}
#miratodaslasofertas:hover {
    background-color:goldenrod;
    border-color: gray;
}
#miratodaslasofertas:hover a {
    color: white;
    border-color: gray
}


.card-container {
    gap: 20px;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
}

.tab {
    padding: 10px;
    cursor: pointer;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 20rem;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f8f8;
}

.buttons button {
    padding: 10px 20px;
}

.titulo {
    padding-top: 25px;
    padding-bottom: 25px;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    box-shadow: rgba(255, 209, 27, 0.922) 0px 5px 15px;
}

.historia {
    padding-top: 10px;
    padding-left: 10px;
}

.historia p {
    font-size: 20px;
    padding: 10px;
}


.vehiculo-subtitulo {
    padding: 15px;
}

.autos {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* agregue esto para evitar que el contenido exceda el ancho */
.vehiculos {
    max-width: 100%;
    overflow-x: hidden; 
}

.vehiculos-electicos,
.vehiculos-camioneta {
    display: flex;
    flex-direction: row;
    width: 50%;
    flex-wrap: nowrap;
}

.card-body {
    padding: 15px;
}

.card-body h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    text-decoration: underline 3px rgba(255, 209, 27, 0.922);
}

.card-body a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 2px solid rgb(68, 68, 68);
    text-decoration: none;
    color: black;
}

.card-body a:hover {
    cursor: pointer;
    background-color: rgba(255, 209, 27, 0.922);
    color: black;
    font-weight: 600;
}


.btn {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.card1 p {
   
    margin-bottom: 1rem;
}

.card1 img {
    width: 100%;
}
.card1 .btn{
   
    margin-top: 6rem;
   
}

.card .btn {
    padding-top: 0
}

.titulo2 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.titulo2 h1 {
    display: flex;
    font-size: 60px;
    box-shadow: rgba(255, 209, 27, 0.922) 0px 5px 15px;
}

.img-autos {
    display: flex;
    width: 1280px;
    height: 430px;
}

.img-autos img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.img-autos img:hover {
    cursor: crosshair;
    width: 450px;
    opacity: 1;
    filter: contrast(120%);
}

.info-autos {
    display: flex;
}

.info {
    padding: 10px;
    font-size: 25px;
}

.info h2 {
    padding-top: 25px;
}

.info h2 span {
    color: BLACK;
    text-decoration: 5px underline solid rgba(255, 209, 27, 0.922);
}

.info span {
    color: rgb(255, 183, 0);
}

.info h4 {
    padding-top: 10px;
    padding-bottom: 25px;
}

.info a {
    display: flex;
    text-decoration: none;
    border: 4px solid black;
    color: black;
    padding: 15px;
    justify-content: center;
    max-width: 350px;
}

.formulario-redirect {
    display: flex;
    justify-content: center;
}

.info a:hover {
    cursor: pointer;
    background-color: rgba(255, 209, 27, 0.922);
    color: black;
    font-weight: 600;
}

.formu2 {
    background-color: black;
    color: white;
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    box-shadow: 3px 0 20px black;
    padding-top: 10px;
}

.caja-formulario {
    padding-top: 100px;
    background-color: rgba(99, 100, 100, 0.819);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-top: 5px solid black;
    padding-bottom: 25px;
    padding-top: 25px;
}

#footer a {
    color: black;
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
    padding-left: 15px;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
    color: rgb(154, 168, 168);
}

#footer i {
    margin: 3% 1%;
}

.foot-superior {
    display: flex;
    /* flex-direction: column;*/
    flex-direction: row;
}

.foot-superior a {
    margin-bottom: 0.7em;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.form-control {
    position: relative;
}

.form-control-input {
    width: 100%;
    background-color: black;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    color: white;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    justify-content: center;
}

.form-control-input:focus {
    border: 3px solid rgb(154, 168, 168);
    outline: none;
    box-shadow: 3px 0 30px rgb(154, 168, 168);
}

.form-control-coment {
    position: relative;
    width: 100%;
    background-color: black;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    color: white;
    height: 150px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.form-control-coment:focus {
    border: 3px solid rgb(154, 168, 168);
    outline: none;
    box-shadow: 3px 0 30px rgb(154, 168, 168);
}

.form-control-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
    color: red;
}

.form-control-error-activo {
    display: block;
}

.form-control-model {
    background-color: black;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 10px 0px 10px 50px;
}

.form-control-select {
    background-color: black;
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

.form-control-select:focus {
    border: 3px solid rgb(154, 168, 168);
    outline: none;
    box-shadow: 3px 0 30px rgb(154, 168, 168);
}

.form-control-img {
    border: 2px solid rgb(255, 193, 7);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    padding: 10px 0px 10px 50px;
}

.img {
    cursor: pointer;
}

.form-control-validacion {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form-control-check {
    color: white;
    margin: 10px;
    justify-self: center;
}

.form-control-enviar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45px;
    font-weight: bold;
    line-height: 45px;
    width: 100px;
    background-color: rgb(154, 168, 168);
    color: black;
    font-weight: bold;
    border: 3px solid rgb(154, 168, 168);
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease all;
    margin: 0 auto;
}

.form-control-enviar:hover {
    box-shadow: 3px 0px 30px rgb(255, 193, 7);
}

.form-control-msj {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    color: white;
    font-size: 20px;
    box-shadow: 3px 0 3px;
}

.form-control-msj-activo {
    display: block;
}

.form-control-correcto .form-control-validacion {
    color: green;
    opacity: 1;
}

.form-control-incorrecto .form-control-input {
    border: 3px solid red;
}

.form-control-incorrecto .form-control-validacion {
    color: red;
    opacity: 1;
}

@media (min-width:1024px) {
    .texto-inicio {
        width: 100%;
        top: 3rem;
    }

    .texto-inicio h1 {
        font-size: 5rem;
        margin-bottom: 2rem;
    }

    .texto-inicio h2 {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .texto-inicio p {
        font-size: 1.5rem;
    }

    .card2 img {
        width: 90%;
    }

    .card2 {
        padding-top: 2rem;
    }

    .card1 p {
        margin-bottom: 5rem;
    }

    .titulo2 h1 {
        font-size: 50px;
    }

    .info .h3 {
        font-size: 1em;
    }

    #footer {
        flex-direction: row;
        padding: 2rem;
    }

    .foot-superior {
        flex-direction: row;
    }

    .footer a {
        margin: 1rem;
    }

    .ancla1 {
        width: 30%;
    }

    .ancla3 {
        width: 30%;
        padding-top: 0.5em;
    }

    .icons a {
        padding: 1.5rem;
    }
}


@media (max-width: 768px) {
    .texto-inicio {
        width: 90%;
        top: 5rem;
    }

    .texto-inicio h1 {
        font-size: 2.5rem;
    }
    .historia {
        width: 100%;
    }

    .titulo h1 {
        font-size: 38px;
        margin: 1.5rem;
    }

    .vehiculos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .card {
        width: 50%;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .vehiculo-subtitulo h2 {
        text-align: center
    }

    .card1 {
        padding-top:2rem;
    }

    .card1 .btn-primary{
        margin-top: 0;
    }

    .card1 p {
        padding-bottom: 0;
    }

    .card2 {
        padding-top: 2rem;
    }

    .card2 .card-title {
        padding-top: 9%;
    }
    
    .card2 img {
        width: 80%
    }

    .card2 .card-body {
        padding-top: 9%;
    }

    .btn {
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 10px;
    }

    .titulo2 h1 {
        font-size: 35px;
        margin: 1rem;
        text-align: center
    }

    .info-autos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .vehiculos-titulo2 h2 {
        text-align: center;
    }

    .img-autos {
        width: 95%;
    }

    .info h3 {
        font-size: 1em;
    }

    .info h2 {
        font-size: 1.4em;
        text-align: center;
    }

    .info h4 {
        font-size: 1em;
        text-align: center;
    }

    .img-autos img {

        flex-grow: 1;
        object-fit: cover;
        opacity: .8;
        transition: .5s ease;
    }

    .img-autos img:hover {
        cursor: crosshair;
        width: 450px;
        opacity: 1;
        filter: contrast(120%);
    }

    .caja-formulario {
        padding-top: 2rem;
    }

    .formu2 .titulo {
        text-align: center;
        padding-top: 0.5rem;
    }

    .form-control-enviar {
        width: 100%
    }

    #footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .foot-superior {
        width: 80%;
        justify-content: space-between;
    }

    .ancla1{
        width: 15%;
    }
    .ancla2 {
        width: 15%;
    }

    .ancla3 {
        width: 15%;
        padding-top: 0.5em;
    }
}

@media (max-width: 576px) {
    .texto-inicio {
        width: 100%;
        top: 5rem;
        overflow-wrap: break-word; /* agregue esto para que elh1 no se rompa */
    }
    .texto-inicio p {
        font-size: 0.5rem;
    }
    .historia {
        width: 90%;
        margin: 0 auto;
    }
    .vehiculos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    
    .card img {
        width: 60%;
        height: auto;
        object-fit: cover;
    }
    .btn-primary {
        width: 100%;
    }

    .vehiculo-subtitulo h2 {
        text-align: center
    }

    .info h3 {
        font-size: 0.8em;
    }

    .info h2 {
        font-size: 1.2em;
        text-align: center;
    }

    .info h4 {
        font-size: 0.8em;
        text-align: center;
    }

    .formulario-redirect {
        display: flex;
        justify-content: center;
    }

    .formulario-redirect a {
        text-align: center;
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    .form-control-model {
        width: 100%;
    }

    .form-control-img {
        width: 100%;
    }

    .form-control-enviar {
        width: 100%;
    }

    .form-control-select {
        left: 0;
    }

    .form-control-img .img {
        width: 80%;
    }

    .caja-formulario {
        padding-top: 2rem;
    }

    #footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .foot-superior {
        flex-direction: column;
        align-items: center;
    }

    #footer a {
        justify-content: center;
    }

    .ancla1{
        width: 100%;
    }
    .ancla2 {
        width: 100%;
    }

    .ancla3 {
        width: 100%;
        padding-top: 0.5em;
    }
}

/*ventana de visualización es menor a 500px */
@media (max-width: 500px) {
nav {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
}

.login {
    justify-content: center; /* Centra el contenido */
}

/* Ajustes para las letras de nav */
.lista-desplegable ul li a {
    font-size: 0.8rem; /* Reduce el tamaño de la fuente */
}

/* Ajustes para el logo */
.navlogo img {
    width: 80%; /* Reduce el tamaño del logo */
    height: auto; /* Mantiene la proporción del logo */
    justify-self: center;
    align-self: center;
}

/* Ajustes para los iconos */
.icono {
    width: 20px; /* Reduce el tamaño del icono */
    height: 20px; /* Reduce el tamaño del icono */
}
.noticias p, h2{
    font-size: 0.8rem;
}
}